@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 192 100% 5%; /* scooter-700 */
    --foreground: 195 100% 93%; /* scooter-50 */
    --card: 192 100% 5%;
    --card-foreground: 195 100% 93%;
    --popover: 192 100% 5%;
    --popover-foreground: 195 100% 93%;
    --primary: 192 81% 47%; /* scooter-100 */
    --primary-foreground: 195 100% 93%;
    --secondary: 190 89% 22%; /* scooter-400 */
    --secondary-foreground: 195 100% 93%;
    --muted: 190 89% 22%;
    --muted-foreground: 195 100% 93%;
    --accent: 192 81% 47%;
    --accent-foreground: 195 100% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 195 100% 93%;
    --border: 190 89% 22%;
    --input: 190 89% 22%;
    --ring: 192 81% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 195 100% 93%; /* scooter-50 */
    --foreground: 192 100% 5%; /* scooter-700 */
    --card: 195 100% 93%;
    --card-foreground: 192 100% 5%;
    --popover: 195 100% 93%;
    --popover-foreground: 192 100% 5%;
    --primary: 192 81% 47%; /* scooter-100 */
    --primary-foreground: 192 100% 5%;
    --secondary: 190 89% 22%; /* scooter-400 */
    --secondary-foreground: 192 100% 5%;
    --muted: 190 89% 22%;
    --muted-foreground: 192 100% 5%;
    --accent: 192 81% 47%;
    --accent-foreground: 192 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 195 100% 93%;
    --border: 190 89% 22%;
    --input: 190 89% 22%;
    --ring: 192 81% 47%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
